@import url(./fonts/fonts.css);
@import url(./styles/conical-gradient.css);
@import url(./styles/shadows.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100vh;
  scroll-behavior: smooth;
  background: linear-gradient(69deg, rgba(231,119,227,1) 0%, rgba(182,100,233,1) 100%);
  /* background-image: url(img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;